*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    padding-bottom: 20px;
}

a {
    color: #3A3A3A;
    text-decoration: none;
}

p{
    padding-top: 12px;
    padding-bottom: 12px;
}


/*------ Hilfsklassen ------ */
.standard-container{
    max-width: 1080px;
    margin: 0 auto;
}

.text-highlighted{
    color: coral;
}

.btn {
    display: block;
    font-size: 20px;
    background-color:#3A3A3A;
    color: coral;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    margin: 15px 0;

}

.btn:hover{
    background-color: coral;
    color: white;
}




/*------ Navigationsleiste------ */

#main-nav{
    background-color: #3A3A3A;
    
}

#main-nav:after{
    content: "";
    display: block;
    clear: both;
}

#main-nav h1{
    float: left;
    color: coral;
    padding-top: 20px;
}

#main-nav a{
    color: white;

}

#main-nav ul{
    float:right;
    list-style: none;
}

#main-nav ul li {
    float: left;
   
}

#main-nav ul li a{
    display:block;
    font-size: 24px;
    padding: 20px;
    text-align: center;
   
}

#main-nav ul li a:hover{
    background-color: coral;
    color: white;
    
}


/*------ Willkommens Sektion------ */

#welcome {
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.6)), url(img/Banner_Light.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;

}

#welcome:after {
    content: "";
    display: block;
    clear: both;
}

#welcome .welcome-content{
    float: right;
    width: 70%;
    color: white;
    padding: 130px 50px;

}
#welcome .welcome-img{
    float: left;
    width: 30%;
    padding-top: 40px;

}


#welcome .welcome-img img {
    padding: 55px 0;
    width: 100%;
    border-radius: 50%;
   

    

}

#welcome .welcome-content h2{
    font-size: 40px;
}

/*------ About Sektion------ */

#about{
    background-color: #3A3A3A;
    padding-top: 50px;
    padding-bottom: 50px;

}

#about:after{
    content: "";
    display: block;
    clear: both;
}

#about .about-content{
    float: left;
    width: 50%;
    color: white;
    padding: 20px;
}

#about .about-img{
    float: left;
    width: 50%;
    padding: 30px;
}

#about:after{
    content:"";
    display: block;
    clear: both;
}

#about .about-img img{
    width: 100%;
    border-radius: 10px;
    
}    

#about .about-content h2{
    font-size: 40px;
}

/*------ Skill Sektion------ */

#skills{
    padding-top: 40px;
    padding-bottom: 40px;
}

#skills:after{
    content: "";
    display: block;
    clear: both;
}

#skills .skill{
    float: left;
    width: 25%;
    text-align: center;
    padding: 35px;
}

#skills .fa-brands{
    font-size: 30px;
    color: coral;
}

#skills .fa-sharp{
    font-size: 30px;
    color: coral;
}

.waether{
    max-width: 250px;
    max-height: 100px;
}

.skill p{
    color: coral;
}


#skills h2{
    text-align: center;
    color: coral;
    padding-bottom: 0;
    
    border-color: #3A3A3A;
    

}




/*------ Footer ------ */

#main-footer{
    background-color: #3A3A3A;
    min-height: 120px;
    padding: 52px;

}

#main-footer p{
    text-align: center;
    color: white;
}

#main-footer p a{
    text-align: center;
    color: white;
}